
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 
</head>
<body style="background-color:powderblue;">


    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
    <H1 style="font-family: 'Courier New', Courier, monospace;">Error en el servidor</H1>
    <H2 style="font-family: 'Courier New', Courier, monospace;">Pruebe Más tarde</H2>
   <img src="https://images.vexels.com/media/users/3/330263/isolated/preview/b439431fd74f2bff070770ae7938fb8c-monitor-de-computadora-con-una-cara-triste.png" style="height: 500px; align-items: center;">
    <br>
    <a href="/user" class="btn btn-outline-primary center-block btn-lg" tabindex="-1"  >Regresar</a>

  </div>
  </div>


</body>
</html>